run = "php -S 0.0.0.0:8000 -t ."

entrypoint = "index.php"
modules = ["php-8.2", "web", "nodejs-20", "nix", "postgresql-16"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["php", "-S", "0.0.0.0:8000", "-t", "."]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TradePro"

[[workflows.workflow]]
name = "TradePro"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public"
waitForPort = 5000

[userenv]

[userenv.shared]
BREVO_SENDER_EMAIL = "noreply@alphacoremarkets.com"
BREVO_SENDER_NAME = "Alpha Core Markets"
BREVO_API_KEY = "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"
